main {
    text-align: center;
}
footer {    
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;    
}
nav 
{
    width: 30%;
    border: 1px solid black;
    border-radius: 6px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
nav a {    
    color: black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex: 1;
    text-align: center;
    padding: 10px;
}
nav a:hover {
    color: white;
    background-color: black;
}
@media (max-width: 700px) {
    nav {
        width: 80%;            
        flex-direction: column; 
    }

    nav a {
        flex: none;           
        border-bottom: 1px solid black; 
    }

}