body {
    background-image: url("Assets/Images/WebsiteBackground.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;   
    width: 100%;
    height: 100vh;   
    overflow-x: hidden;
}
main {
    text-align: center;
}
footer {    
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;    
   color: whitesmoke;
   background-color: rgb(0, 0, 0);
}
footer p{
    background-color: black;
}
nav 
{
    width: 30%;
    border-radius: 6px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
nav a {    
    color: whitesmoke;
    background-color: black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex: 1;
    text-align: center;
    padding: 15px;
}
nav a:hover {
    color: black;
    background-color: whitesmoke;
}
@media (max-width: 800px) {
    nav {
        width: 80%;            
        flex-direction: column; 
    }

    nav a {
        flex: none;           
        border-bottom: 1px solid black; 
    }

}